@model IEnumerable<Examination_System.ViewModels.DisplayStudentGrades>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>CourseName</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CourseName</td>
                    <td>@item.Grade</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>