@model Instructor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditInstructor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <form method="post">
        <input asp-for="Ins_Id" type="hidden" /><br />
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

        <br />

        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>

        <br />

        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <br />

        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <br />

        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>

        <br />

        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>

        <br />

        <label asp-for="Img_Id"></label>
        <input asp-for="Img_Id" class="form-control" />
        <span asp-validation-for="Img_Id" class="text-danger"></span>

        <br />

        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>

        <br />

        <label asp-for="HiringDate"></label>
        <input asp-for="HiringDate" class="form-control" />
        <span asp-validation-for="HiringDate" class="text-danger"></span>

        <input type="submit" value="Edit" class="btn btn-info text-light" />
    </form>
</body>
</html>
