@model IEnumerable<InstructorCourse>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowInstructorCourse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary " style="background-color:darkred ">
        <div class="container-fluid">
            <img src="~/whitelogo.svg" alt="Logo" width="200" height="90" class="d-inline-block align-text-top" />
        </div>
    </nav>
    <div class="container">
        <div class="text-center" style="height: 100vh">
            <h3 class="justify-content-center mt-5">Instructor Courses Data</h3>
            <table class="table table-bordered table-hover border-danger align-items-center justify-content-center mt-5">
   
            <thead>
                <tr>
                    <th>Instructor</th>
                    <th>Course</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="3">No Data Found</td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.instructor.Name</td>
                            <td>@item.Course.Name</td>
                            <td>
                                <a class="btn btn-danger" asp-action="DeleteInstructorCourse" asp-controller="InstructorCourseCRUD" onclick="return confirm (' Are you sure?')" asp-route-idstring="@String.Join(",", item.InstructorId, item.CrsId)">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            </table>
            <a asp-action="AddInstructorCourse" asp-controller="InstructorCourseCRUD" class="btn btn-success">Add</a>
        </div>
   </div>

</body>
</html>
